.container{
	background: #ccc;
}

.box{
	background: red;
	width: 200px;
	height: 200px;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display: table;
}

.clearfix:after{
	clear: both;
}

.clearfix{
	*zoom: 1;  /*for older IE versions that do not support before and after pseudo class*/
}
