.button{
	background: #ddd;
	padding: 5px;
	min-width: 200px;
	/*display: none;  removes the element from the page and it doesnot occupy any space */
	visibility: hidden; /*This value makes element  invisible but still takes up space */
}

